dynamic-pricing/src/main/mule/dynamic-pricing.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<flow name="pricing-engine-flow">
		<http:listener doc:name="POST /calculate-price" config-ref="HTTP_Listener_config" path="/calculate-price" allowedMethods="POST"/>
		
		<ee:transform doc:name="Calculate Discount">
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
// Define the discount rate using a local variable in DW
var discountRate = if (payload.customerType == "Wholesale") 0.20 else 0.05
---
{
	"item": payload.partName,
	"originalPrice": payload.price,
	"discountApplied": (discountRate * 100) ++ "%",
	"finalPrice": payload.price * (1 - discountRate),
	"currency": "LKR"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>