secure-order-processor/src/main/mule/secure-order-processor.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c54ca39-3e8d-44dc-957a-420bf9cb5807" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="secure-order-validation-flow">
		<http:listener doc:name="POST /secure-order" 
			config-ref="HTTP_Listener_config" 
			path="/secure-order" 
			allowedMethods="POST"/>

		<ee:transform doc:name="Mask and Validate Payload">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json


var validCondition = (item) -> item.qty > 0 and item.price > 0
var totalItemsCount = sizeOf(payload.items default [])


var validList = payload.items filter (item) -> validCondition(item)
var invalidList = payload.items filter (item) -> not validCondition(item)
---
{
    "processingStatus": "Processed",
    "customerMetrics": {
        "id": payload.customerId,
        "maskedPhone": "*******" ++ payload.phone[-3 to -1]
    },
    "audit": {
        "totalReceived": totalItemsCount,
        "totalValid": sizeOf(validList),
        "totalInvalid": sizeOf(invalidList),
        "requiresReview": sizeOf(invalidList) > 0
    },
    
    "validItems": validList map (item) -> {
        "partId": item.partId,
        "lineTotal": item.qty * item.price
    },
    "invalidItems": invalidList
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>